@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --first-color: #4D4D4D;
    --second-color: #FFF4E0;
    --third-color: #B46060;
    --color-hover:#bda597;

    --first-font: 'Krona one', sans-serif;
    --second-font: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--first-color);
    color: var(--second-color);
}

.headerhd {
    padding: 2% 0% 0% 15%;

}

.headermenu {
    display: flex;
    gap: 80px;
}

.headermenulink {
    font-family: var(--second-font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--third-color);
    text-decoration: none;
}

.apresentation {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apcontent {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apcontenttittle {
    font-size: 2.25rem;
    font-family: var(--first-font);
}

.tittlecontrast {
    color: var(--third-color);
}

.apcontenttext {
    font-size: 1.5rem;
    font-family: var(--second-font);
}

.aplinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}

.aplinkssubtittle {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--third-color);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--second-color);
    font-family: var(--second-font)
}

.aplinksnav:hover {
    background-color: var(--color-hover);
    padding: 3%;
}

.apimage {
    width: 45%;
}

.footerft {
    background-color: var(--third-color);
    color: var(--second-color);
    padding: 23.64px;
    text-align: center;
    font-family: var(--second-font);
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    .headerhd {
        padding: 10%;
    }

    .headermenu {
        justify-content: center;
    }

    .apresentation {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apcontent {
        width: auto;
    }
}
